{% extends 'base.html' %}

{% block body %}
<br>
<style>
#div{
    position: absolute;
    top: 50%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
}</style>

<div id="div" >
 <form style="width:500px" method="post">
                 {% csrf_token %}
  <div class="form-group" enctype="multipart/form-data">
    <label for="key_name"><b>Key name : </b></label>
    {{ form.key_name }}
  </div>
    <div class="form-group">
    <label for="Key_description"><b>Key_description :</b> </label>
{{ form.key_description }}
  </div>
  <br>
    <button style="float:center" name="sub" type="submit" class="btn btn-primary mb-2">Generate key</button>

   </form>
   <div>
{% endblock %}