{% extends 'base.html' %}

{% block body %}

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Square card -->
                {% if rest_list %}
                <div class="mdl-grid">
                    {% for rest in rest_list %}
                    <div class="mdl-cell mdl-cell--3-col">
                        <div style="height:40%" class="demo-card-square mdl-card mdl-shadow--3dp">
                            <div  class="mdl-card__title mdl-card--expand" >
                                <h2 style="color:black" class="mdl-card__title-text">{{ rest.key_name }}</h2>

                            </div>
                            <div class="mdl-card__supporting-text">
                                {{ rest.key_description|linebreaks}}
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Key: {{ rest.key }}</a>
                            <i class="fa fa-refresh" ></i>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </main>
    </div>

{% endblock %}